.row
  .span12
    .well
      - if  @shop_card_logs.blank?
        = render 'init_shop_card'
      - else
        = render 'shop_card_list'
.row
  .span12
    .well
      - if  @item_logs.blank?
        = render 'init_item'
      - else
        = render 'item_list'
.row
  .span12
    .well
      = render "sn_list"
