%ul.nav.nav-tabs
  %li.active
    = link_to "店铺网址",current_shops_path
  %li
    = link_to "店铺名片",current_card_shops_path

.row
  .span12
    .well
      %h3 
        = @shop.title
      .clearfix
        .large-qr.pull-left
          = render "shared/qr",:content => shop_url(@shop.sid),:qr_label => nil,:logo_url => shop_logo_url(@shop.pic_path)
        .qr-config.pull-left
          = render "shared/qr_config"

      .well.well-small.clearfix
        .pull-left.qr-operates-upload
          .btn-group
            %a.btn.btn-picture-upload-single{:href => current_qr_upload_shops_path(:format => :js),
            "data-origin-href" =>  current_qr_upload_shops_path(:format => :js),
            "data-method" => :put,
            "data-remote" => true,:rel => "nofollow",
            "data-toggle" => "tooltip",:title => "将二维码放入淘宝图片空间"}
              %i.icon-cloud-upload
              上传到淘宝图片空间

            %a.btn.btn-download-qr-single{:href => current_download_qr_shops_path,
            "data-origin-href" =>   current_download_qr_shops_path,
            "data-no-turbolink" => true,
            "data-toggle" => "tooltip",:title => "下载二维码图片到本地"}
              %i.icon-download-alt
              下载到本地

        .pull-right.qr-operates-share
          <!-- Baidu Button BEGIN -->
          #bdshare.bdshare_t.bds_tools.get-codes-bdshare.shop-url-share{:data => "#{shop_share_json(@shop)}"}
            %a.bds_qzone  QQ空间
            %a.bds_tsina 新浪微博
            %a.bds_tqq 腾讯微博
            %a.bds_renren 人人网
            %span.bds_more 更多
          <!-- Baidu Button END -->
      .well.well-small.qr-url
        .input-prepend.input-append{"data-toggle" => "tooltip","data-placement" => "bottom",:title => "拷贝图片网址到剪贴板"}
          %span.add-on 链接
          %span#qr_code_img_url.span8.uneditable-input{"data-origin-url" => public_qr_code_service_shops_url(content: shop_url(@shop.sid))} 
            = public_qr_code_service_shops_url(content: shop_url(@shop.sid))
          %a#btn_clip.btn.btn-clip{"data-clipboard-target" => 'qr_code_img_url',:type => :button}
            %i.icon-copy

        .alert.alert-success.clip-success{style: 'display : none;'}
          已将二维码网址复制到剪贴版

        .alert.alert-info
          您可复制该URL到需要显示的地方


.row
  .span12
    .hero-unit
      %h4 如何使用它?
      %ul
        %li 可以将它放到宝贝展示界面的缩略图中
        %li 可以将它保存到淘宝图片空间
        %li 可以将它分享到您的QQ空间/微博...
        %li 方法很多,何不尝试一下?
