.sidebar
  %h4.alert.alert-info.selected-info 请选定商品进行操作

  %ul.nav.nav-list
    %li
      %label.checkbox
        %input(type="checkbox" class='cbx-select-item-all') 选择全部商品

    %li
      = link_to_function "添加到宝贝图片",  "",:class => 'btn-upload-to-items-img'
    %li
      = link_to_function "批量上传到淘宝图片空间",  "",:class => 'btn-upload-picture'
    %li
      = link_to "批量下载到本地", download_zip_items_path(:format => :zip),"data-origin-href" => download_zip_items_path(:format => :zip),:class => "btn-download-zip"
    %li
      = link_to "下载到本地", download_qr_item_path(:id => 2000042003886) 

  %hr
  = render "search"
