.sidebar
  %h4.alert.alert-info.selected-info 请选定商品进行操作

  %ul.nav.nav-list
    %li
      %label.checkbox
        %input(type="checkbox" class='cbx-select-item-all') 选择全部商品
    %li
      = link_to "自动更新到宝贝图片", "/path1" 
    %li
      = link_to_function "自动更新到宝贝描述",  "",:class => 'btn-update-to-items-describe'
    %li
      = link_to "自动更新到宝贝描述_test",  img_upload_items_path(:ids => [2000042003886]),:method => :put
    %li
      = link_to "下载到本地", "/path3" 

  %hr
  = render "search"
