.span9
  %ul.nav.nav-tabs
    %li.active
      = link_to "出售中的宝贝",items_path
    %li
      = link_to "橱窗推荐宝贝",items_path("search[has_showcase]" => true)

  .well.well-small
    %ul.thumbnails
      - @items.each do |item|
        %li
          .thumbnail.small-qr
            %label.checkbox
              %input.cbx-select-item{:type=>:checkbox,:value => item.num_iid} 
              =item.title
            %a{:href => item_path(:id => item.num_iid),:class =>""}
              = render "shared/qr",:content => item.detail_url,:qr_label => nil,:logo_url => item.pic_url
  .pagination
    = will_paginate @items,renderer: BootstrapPagination::Rails

.span3
  = render "sidebar"
