%ul.nav.nav-tabs
  %li.active
    = link_to "出售中的宝贝",items_path
  %li
    = link_to "橱窗推荐宝贝",items_path("search[has_showcase]" => true)

.well.well-small
  %ul.thumbnails
    - @items.each do |item|
      %li.span2
        .thumbnail
          = render "qr_code",:item => item
          %label.checkbox
            %input.cbx-select-item{:type=>:checkbox,:value => item.num_iid} 
            =item.title

.pagination
  = will_paginate @items,renderer: BootstrapPagination::Rails

- content_for :sidebar do
  = render "sidebar"
