.row
  .span9
    %ul.nav.nav-tabs.items-toggle
      %li{class: check_items_active}
        = link_to "出售中的宝贝",items_path
      %li{class: check_showcase_active}
        = link_to "橱窗推荐宝贝",items_path("search[has_showcase]" => true)
  
    .well.well-small.items-list
      %ul.thumbnails
        - @items.each do |item|
          %li
            .thumbnail.small-qr
              %label.checkbox
                %input.cbx-select-item{:type=>:checkbox,:value => item.num_iid} 
                %span.item-title.label.label-info
                  =item.title
              %a{:href => item_path(:id => item.num_iid),:class =>""}
                = render "shared/qr",:content => item.detail_url,:qr_label => nil,:logo_url => item.pic_url
    .pagination
      = will_paginate @items,renderer: BootstrapPagination::Rails,previous_label: "&#9668;",next_label: "&#9658;"

    %h4 评论
    .well
      -#Duoshuo Comment BEGIN
      .ds-thread{"data-title" => "商品列表二维码"}
      -#Duoshuo Comment END
  
  .span3
    = render "sidebar"
