%ul.nav.nav-tabs
  %li.active
    = link_to "出售中的宝贝",items_path
  %li
    = link_to "橱窗推荐宝贝",items_path("search[has_showcase]" => true)

.row
  .span4
    .well.well-small.large-qr
      = render 'shared/qr',:item => @item
  .span8
    = render "shared/qr_config"
.row
  .span12
    .well
      .pull-left
        .btn-group
          %a.btn.btn-img-upload-single{:href => img_upload_item_path(:id => @item.num_iid,:format => :js),
          "data-origin-href" =>  img_upload_item_path(:id => @item.num_iid,:format => :js),
          "data-method" => :put,
          "data-remote" => true,:rel => "nofollow",
          "data-toggle" => "tooltip",:title => "将二维码放入宝贝详情页面的图片中"}
            %i.icon-arrow-up
            更新到宝贝图片

          %a.btn.btn-picture-upload-single{:href => picture_upload_item_path(:id => @item.num_iid,:format => :js),
          "data-origin-href" =>  picture_upload_item_path(:id => @item.num_iid,:format => :js),
          "data-method" => :put,
          "data-remote" => true,:rel => "nofollow",
          "data-toggle" => "tooltip",:title => "将二维码放入淘宝图片空间"}
            %i.icon-cloud-upload
            上传到淘宝图片空间

          %a.btn.btn-download-qr-single{:href => download_qr_item_path(:id => @item.num_iid),
          "data-origin-href" =>  download_qr_item_path(:id => @item.num_iid),
          "data-toggle" => "tooltip",:title => "下载二维码图片到本地"}
            %i.icon-download-alt
            下载到本地

      .pull-right
        <!-- Baidu Button BEGIN -->
        #bdshare.bdshare_t.bds_tools.get-codes-bdshare{:data => "{'pic':'#{@picture.try(:picture_path)}'}"}
          %a.bds_qzone  QQ空间
          %a.bds_tsina 新浪微博
          %a.bds_tqq 腾讯微博
          %a.bds_renren 人人网
          %span.bds_more 更多
        <!-- Baidu Button END -->
.row
  .span12
    .alert.alert-info
      该二维码已自动上传到您的淘宝图片空间

  .span12
    .input-prepend.input-append{"data-toggle" => "tooltip","data-placement" => "bottom",:title => "拷贝图片网址到剪贴板"}
      %span.add-on 链接
      %span#taobao_pic_url.span8.uneditable-input 
        = @picture.try(:picture_path)
      %a#btn_clip.btn{"data-clipboard-target" => 'taobao_pic_url',:type => :button}
        %i.icon-copy


.row
  .span12
    .hero-unit
      %h4 如何使用它?
      %ul
        %li 可以将它放到宝贝展示界面的缩略图中
        %li 可以将它保存到淘宝图片空间
        %li 可以将它分享到您的QQ空间/微博...
        %li 方法很多,何不尝试一下?

